@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.experience-list-container {
  overflow: hidden;
  height: 300px; /* Ajusta la altura a lo que necesites */
  position: relative;
}

.experience-list {
  display: flex;
  flex-direction: column;
  animation: scrollUp 48s linear infinite;
}

.experience-item {
  height: 150px; /* Ajusta la altura según el contenido */
}

@media (max-width: 768px) {
  .experience-list-container {
    height: 200px; /* Ajusta para pantallas más pequeñas */
  }

  .experience-item {
    height: 150px; /* Ajusta según el contenido */
  }
}
