---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Gestor de proyecto Corporate de Vodafone",
    company: "Instelca S.L.U",
    description:
      "Lideré y supervisé un equipo dinámico de más de 30 personas en proyectos de telecomunicaciones para grandes clientes como Vodafone, Mercadona, Dia, El Corte Inglés, Endesa, Junta de Andalucía, y la Comunidad Autónoma de la región de Murcia, asegurando la eficiencia operativa. Implementé prácticas de gestión de proyectos que mejoraron la eficiencia operativa en un 20%. Desarrollé estrategias de coordinación que redujeron los tiempos de respuesta a incidentes en un 30%.",
  },
  {
    date: "Junio 2014",
    title: "Técnico I+M y proyecto Corporate",
    company: "Instelca S.L.U",
    description:
      "Instalé y mantuve sistemas de telecomunicaciones y redes de datos, mejorando la conectividad y el rendimiento en un 15%. Desarrollé soluciones innovadoras para la optimización de redes, reduciendo las interrupciones del servicio en un 25%.",
  },
];
---

<ol class="relative mt-16 space-y-4">
  {
    EXPERIENCE.map((experience, index) => (
      <li
        class="relative animate-fadeInUp"
        style={{ animationDelay: `${index * 200}ms` }}
      >
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
