---
const personalImageAlt = "Juanma Garrido"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-28"
      src="/juanma.jpeg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/jmgpdev/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Juanma Garrido
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong
    >Entusiasta de la programaci贸n web. Actualmente estudiante de DAW.</strong
    > Soy de M谩laga, Espa帽a . 
    Me apasiona el desarrollo front-end y estoy comprometido con el aprendizaje continuo y la actualizaci贸n de mis habilidades. Por eso, he completado varias certificaciones enfocadas en JavaScript, React, y otras herramientas y frameworks del desarrollo web. Tambi茅n, me interesa explorar nuevas tendencias y oportunidades en el campo de la programaci贸n, como el desarrollo m贸vil con React Native.




  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:juangpdev@gmail.com">
      <MailIcon class="size-4" />
      Cont谩ctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/jmgpdev/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
